.container{
  text-align: center;
  background-color: #fff;
  max-width: 500px;
}

#timer{
  font-size: 60px;
  font-weight: 600;
  background-color: #ccc;
  max-width: 600px;
  margin: 0 auto;
}

button{
  user-select: none;
}